[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
numpy = "*"
pairlist = "*"
genice-core = "==0.1.1"

[dev-packages]
genice2 = "*"
matplotlib = "*"
black = "*"
py3dmol = "*"
jupyter = "*"
twine = "*"

[requires]
python_version = "3.11"
