[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
numpy = "*"
scikit-learn = "*"
pairlist = "*"

[dev-packages]
genice2 = "*"
matplotlib = "*"
black = "*"
py3dmol = "*"
jupyter = "*"

[requires]
python_version = "3.11"
