[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
numpy = "*"
pairlist = "*"
scikit-learn = "*"

[dev-packages]
genice2 = "*"
matplotlib = "*"
black = "*"
py3dmol = "*"
jupyter = "*"
twine = "*"
genice-core = ">=0.4"
toml = "*"
jinja2 = "*"
pdoc3 = "*"

[requires]
python_version = "3.11"
